name: ci

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2026-01-19
      - name: Cache cargo
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build
      - name: Build examples
        run: cargo build --examples
      - name: Test
        run: cargo test
      - name: Build examples (duckdb)
        run: cargo build --examples --features duckdb
      - name: Test (duckdb)
        run: cargo test --features duckdb
