name: ci

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
      - name: Cache cargo
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --all-targets
      - name: Test
        run: cargo test --all-targets
      - name: Build (duckdb)
        run: cargo build --all-targets --features duckdb
      - name: Test (duckdb)
        run: cargo test --all-targets --features duckdb
